<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Phone:</b>
  <%= @student.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Interest:</b>
  <%= @student.interest %>
</p>

<p>
  <b>Note:</b>
  <%= @student.note %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
