<section class="banner-shadow">
  <div id="banner">
    <img src="/assets/banner-contactus.jpg" alt="banner" />
  </div>
</section><!-- //banner -->

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
  <h1 style="color:red;"><%= content_tag :div, msg, :id => "flash_#{name}" %></h1>
</div>
    <% end %>
  <% end %>

<section class="contactus cf">
  <div class="title cf">
    <h2 class="fl pngfix">报名表<br/><span>Registration Form</span></h2>
  </div>
  <div class="bd cf">
    <div class="contactus">
      <%= form_for(Student.new) do |f| %>
        <table>
        <tr>
          <td>姓名：
            <%= f.text_field :name ,:class=>"input" %>
            <span><em>*</em>请填写您的真实姓名</span>
          </td>
        </tr>
        <tr>
          <td>性别：
            <input type="radio" name="student[gender]" cheacked="checked" value="1">男
            <input type="radio" name="student[gender]" value="0">女
          </td>
        </tr>
        <tr>
          <td>手机：
            <%= f.text_field :phone,:class=>"input" %>
            <span><em>*</em>请留下联系电话，以便在必要时我们的老师与您联系确认信息</span>
          </td>
        </tr>
        <tr>
          <td>邮箱：
            <%= f.text_field :email , :class=>"input"%>
          </td>
        </tr>
        <tr>
          <td>你所感兴趣的课程：
            <select class="select" name="student[interest]">
              <option value="素描课程">素描课程</option>
              <option value="色彩课程">色彩课程</option>
              <option value="设计课程">设计课程</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <p>您还有什么要补充的吗？</p>
            <%= f.text_area :note,:class=>"textarea" %>

          </td>
        </tr>
        <tr>
          <td class="ac">
            <input class="button" type="submit" value="确认提交">
          </td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</section><!-- //contactus -->
