<!DOCTYPE HTML>
<!--[if IE 6]><html class="ie6 ielt9 no-css3 no-js lte7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="ie7 ielt9 no-css3 no-js lte7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="ie8 ielt9 no-css3 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9]><html class="ie9 ielt9 no-css3 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9) ]><!--><html lang="en" dir="ltr" class="no-js"><!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Heikedesign" %>">
<title><%= content_for?(:title) ? yield(:title) : "嘿喀" %></title>
<link href="/assets/screen.css" rel="stylesheet" type="text/css" />
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= yield(:head) %>
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<style type="text/css">.css3{behavior: url(js/css3.htc);-pie-lazy-init: true; position: relative;}.ie6png{-pie-png-fix: true;}</style>
<script src="js/ie9.js"></script>
<![endif]-->
<!--[if IE 6]>
<script src="js/png.js"></script>
<script>DD_belatedPNG.fix('.pngfix, .pngfix img');</script>
<![endif]-->
</head>
<body>
<div class="grid cf">

  <div id="topbar" class="cf">
    <ul>
      <li class="icon-common icon-qq">QQ群：294662436</li>
      <li class="icon-common icon-phone">咨询电话：18600897407</li>
    </ul>
  </div><!-- //topbar -->
  <header id="header" class="cf">
    	<h1 id="logo" class="pngfix">
    		<a href="#">
    			<img src="/assets/logo.png" alt="嘿喀" title="嘿喀" />
    		</a>
    	</h1>
        <nav id="nav">
        	<ul>
        		<li><a class="css3" href="/">首页</a></li>
        		<li><a class="acitve css3" href="/pages/course">课程介绍</a></li>
        		<li><a class="css3" href="/pages/aboutus">关于嘿喀</a></li>
        		<li><a class="css3" href="/pages/works">作品展示</a></li>
        		<li><a class="css3" href="/pages/contactus">在线报名</a></li>
        	</ul>
        </nav>
    </header><!-- //header -->
  <%= yield %>

  <footer id="footer" class="cf">
    <div class="links fl">
      <a href="/pages/course">课程介绍</a>|<a href="/pages/aboutus">关于嘿喀</a>|<a href="/pages/works">作品展示</a>|<a href="/pages/contactus">在线报名</a>
    </div>
    <div class="copyright fr">
      <span>Copyright<span>&copy;</span>2013</span>嘿喀<span>heikadesign</span>版权所有
    </div>
  </footer><!-- //footer -->

</div><!-- //grid -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3a92455200bd30c72507be64bdefbfd1' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
